// Tooltip color  variations

@mixin tooltip-variant($color) {
	.tooltip-inner {
		background:  $color;
		color: $white;
	}
	&.bs-tooltip-top-demo {
    .arrow::before {
      border-top-color: $color;
    }
  }
  &.bs-tooltip-right-demo {
    .arrow::before {
      border-right-color: $color;
    }
  }
  &.bs-tooltip-bottom-demo {
    .arrow::before {
      border-bottom-color: $color;
    }
  }
  &.bs-tooltip-left-demo {
    .arrow::before {
      border-left-color: $color;
    }
  }
}